.row {
    display: flex;
    box-shadow:0px 0px 0px 0.5px #b3ff00
}

#wrapper {width: 95%; margin:auto; padding-top:2em;}

body{
    background-image: url("img/Texturelabs_Paper_243XL.jpg");
        background-size:cover;
        background-repeat:inherit;
        background-color: rgba(0,0,0,0.4);
        background-blend-mode: darken;
    z-index: -2;
    font-family: "DM Sans", sans-serif;
        font-weight: 200;
        font-style: normal;
        color: #b3ff00;
}

p,ul,footer,nav,li{
    margin:0;
}

h1{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 10em;
    font-style: normal;
    color: #b3ff00;
    line-height: 80%;
    letter-spacing: 3px;
    text-transform: capitalize;
}

#name{
    text-align: right;
}

ul{
    list-style-type: none;
    padding:0;
}

li{
    display:inline;
    float:right;
    padding-right:1em;
}

footer{
    padding:0;
    margin:0;
}

#footer-li{
    display:inline;
    float:left;
    padding-right:1em;
}

a:link { 
    color: #b3ff00; 
    text-decoration: none;
    } 
a:visited { 
    color: #b3ff00; 
    text-decoration: none;
    }
a:hover { 
    color: white; 
    text-decoration: none;
    }




/*  OLD CSS
* {
    margin:0; padding:0;
    box-sizing:border-box;
}

body{
    background-image: url("img/Texturelabs_Paper_243XL.jpg");
        background-size:cover;
        background-repeat:inherit;
        background-color: rgba(0,0,0,0.4);
        background-blend-mode: darken;
    z-index: -2;
    font-family: "DM Sans", sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: .8em;
        color: #b3ff00;
        text-align:left;
}

#wrapper {width: 95%; margin:auto;}

.green {color: #b3ff00;}
.black {color: #000000}
.white {color: #ffffff}

.columns {
    float:left;
    box-shadow:0px 0px 0px 0.5px #b3ff00;
    padding:1em;
    
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.relative{
    position:relative;
}

.sticky{
    position:sticky;
    bottom: 0;
    left: 0;
    float:none;
}

.fixed{
    position:fixed;
    top:0;
}

.absolute{
    position: absolute;
    bottom: 0;
    right: 0;
}

.clear-left{
    clear:left;
}

.center-center{
    align-items:center;
    justify-items: center;
}


nav{
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
    color: #b3ff00;
    z-index: 5;
}

ul{
    list-style-type: none;
    padding:0;
}

li{
    display:inline;
    float:right;
    padding-right:1em;
}

#footer-li{
    display:inline;
    float:left;
    padding-right:1em;
    padding-top: 5em;
}

footer {
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
    color: #b3ff00;
    text-align:left;
}

img{
    width: 100%;
    height: auto;
}

h1{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    color: #b3ff00;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-align: right;
}

hr {
    border-color: #b3ff00;
}

a:link { 
    color: #b3ff00; 
    text-decoration: none;
    text-decoration: underline wavy;
    text-underline-offset: 3px;
    text-decoration-thickness: 0.06em;
    } 
a:visited { 
    color: #b3ff00; 
    text-decoration: none;
    text-decoration: underline wavy;
    text-underline-offset: 3px;
    text-decoration-thickness: 0.06em;
    }
a:hover { 
    color: white; 
    text-decoration: none;
    text-decoration: underline wavy;
    text-underline-offset: 3px;
    text-decoration-thickness: 0.06em;
    }



@media only screen and (max-width: 480px) { 
    .row{
        display:block;
    }
    .columns {
        float: left;
        padding:1em;
        margin:0;
    }
    .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .col-5 {width: 100%;}
    .col-6 {width: 100%;}
    .col-7 {width: 100%;}
    .col-8 {width: 100%;}
    .col-9 {width: 100%;}
    .col-10 {width: 100%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}
    
} 
