body {
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
  }

  ul#mainNav, li#mainNav {
    display:flex;
    gap: 30px;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
    padding:0;
    margin-bottom: 50px;
    
    a:link { 
        color: #b3ff00; 
        text-decoration: underline wavy;
        text-underline-offset: 3px;
        text-decoration-thickness: 0.06em;
    } 
    a:visited { 
        color: white; 
        text-decoration: underline wavy;
        text-underline-offset: 3px;
        text-decoration-thickness: 0.06em;
    }
    a:hover { 
        color: white; 
        text-decoration: underline wavy;
        text-underline-offset: 3px;
        text-decoration-thickness: 0.06em;
    }
}

ul#footer, li#mainNav {
    text-align: right;
    display:flex;
    gap: 30px;
    list-style-type: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
    padding-left:0px;
}

footer {
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
    color: #b3ff00;
    width: 80%;
}

img#cat{
    width: 25%;
    filter: grayscale(1);
}

h1{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    color: #b3ff00;
    text-align: right;
    padding-top: 0px;
    padding-right:10px;
    line-height: 0%;
    letter-spacing: 3px;
    text-transform: capitalize;
}

h2{
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    line-height: 50%;
}

p{
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
    color: #b3ff00;
    text-align: left;
}

hr#footer {
    width:25%;
    margin-left:0;
    padding:0;
    border-color: #b3ff00;
}



#bioText{
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
    color: #b3ff00;
    text-align:justify;
    width: 25%;
    padding-bottom: 100px;
}


