/*  UNIVERSAL  */
* {
    margin:0; padding:0;
    background-image: url("img/Texturelabs_Paper_243XL.jpg");
    background-size:cover;
    background-repeat:inherit;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;
}

#wrapper {height: 50em; width: 95%; margin:auto;}


/*  COLOR  */
.green {color: #b3ff00;}
.black {color: #000000}
.white {color: #ffffff}


/*  COLUMN  */
.col-1 {width: 25%;}
.col-2 {width: 50%}


/*  POSITION  */
.relative{
    position:relative;
}

.sticky{
    position:sticky;
    bottom: 0;
    left: 0;
    float:none;
}

.fixed{
    position:fixed;
    bottom: 2em;
}

.absolute{
    position: absolute;
    top: 0;
    left: 0;
}

.clear-left{
    clear:left;
}

ul#mainNav, li#mainNav {
    display:flex;
    list-style-type: none;
    gap: 30px;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
    padding:0;
    margin-bottom: 50px;
    float: right;
    
    a:link { 
        color: #b3ff00; 
        text-decoration: underline wavy;
        text-underline-offset: 3px;
        text-decoration-thickness: 0.06em;
    } 
    a:visited { 
        color: white; 
        text-decoration: underline wavy;
        text-underline-offset: 3px;
        text-decoration-thickness: 0.06em;
    }
    a:hover { 
        color: white; 
        text-decoration: underline wavy;
        text-underline-offset: 3px;
        text-decoration-thickness: 0.06em;
    }
}

ul#footer, li#footer {
    text-align: right;
    display:flex;
    gap: 30px;
    list-style-type: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
}

footer {
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
}

img#photo{
    width: 100%;
    height: auto;
    padding-top:20px;
}

h1{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    color: #b3ff00;
    text-align: right;
    padding-top: 0px;
    padding-right:10px;
    line-height: 0%;
    letter-spacing: 3px;
    text-transform: capitalize;
}

h2{
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    line-height: 50%;
}

p{
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
    text-align: justify;
}

hr {
    border-color: #b3ff00;
}