.container {
    position: relative;
    overflow-y: auto; /* Enables final scroll */
    display:flex;
    padding:0;
  }
   
.left-column, .middle-column {
    position: absolute;
    width: 30.6666666667%; /* Adjust based on needs */
    top: 0;
    bottom: 0;
    /*background: white;*/
    z-index: 1; /* Ensures columns overlay scrolling content */
  }
   
  .left-column { left: 0; }
  .middle-column { 
    width: 30.6666666667%;
    margin-left: 34.6666666667%; }
   
  .right-column {
    width: 30.66666666675;
    margin-left: 69.3333333333%; /* Sum of left + middle widths */
    overflow-y:auto; /* Independent right-column scroll */
    height: 80vh;
  }


.row {
    display: flex;
    box-shadow:0px 0px 0px 0.5px #ff00aa;
    padding:0;
    z-index:5;
    margin: auto;
}

.vertcenter{
    align-items:center;
}

.textPadding {padding-left:1.5em; padding-right:1.5em;}

body{
    width:95%;
    margin: auto;
    background-color: black;
    z-index: -2;
}

p,ul,footer,nav,li{
    margin:0;
}

h1{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 4em;
    font-style: normal;
    color: white;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-bottom:0;
}

#name{
    text-align: right;
}

ul{
    list-style-type: none;
    padding:0;
}

li{
    display:inline;
    float:right;
    padding-right:1em;
}

footer{
    padding:0;
    margin:0;
}

#footer-li{
    display:inline;
    float:left;
    padding-right:1em;
}

a:link { 
    color: #b3ff00; 
    text-decoration: none;
    } 
a:visited { 
    color: #b3ff00; 
    text-decoration: none;
    }
a:hover { 
    color: white; 
    text-decoration: none;
    }


.sticky{
    position:sticky;
    top: 2em;
    float:none;
}

.absolute{
    position:absolute;
    top:0;
}

.relative{
    position:relative;
    bottom:0;
}

.fixed{
    position:fixed;
}

.centered{
    position:relative;
    text-align: center;
    padding:0;
    margin:0;
}

.rightalign{
    position:relative;
    text-align: right;
    margin:0;
}

.headingstyle{
    position:relative;
    text-align: right;
    padding-top: 10rem;
    margin:0;
}

@media (min-width: 550px) {
    .container {
      width: 100%; }
    .column,
    .columns {
      margin-left: 0;
      box-shadow:0px 0px 0px 0.5px #b3ff00;
      z-index: 6;
      padding: 1rem;
  
    }
    /*.column:first-child,
    .columns:first-child {}

    .column:last-child,
    .columns:last-child {}*/
  
    .one.column,
    .one.columns                    { width: 8.3333333333%; }
    .two.columns                    { width: 16.6666666667%; }
    .three.columns                  { width: 25%;            }
    .four.columns                   { width: 33.3333333333%; }
    .five.columns                   { width: 41.6666666667%; }
    .six.columns                    { width: 50%;            }
    .seven.columns                  { width: 58.3333333333%; }
    .eight.columns                  { width: 66.6666666667%; }
    .nine.columns                   { width: 75%;          }
    .ten.columns                    { width: 83.3333333333%; }
    .eleven.columns                 { width: 91.6666666667%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }
  
    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }
  
    .one-half.column                { width: 8.66666666663%; }
  
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.3333333333%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 16.6666666667%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 25%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 33.3333333333%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 41.6666666667%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 50%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 58.3333333333%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 66.6666666667%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 75%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 83.3333333333; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 91.6666666667%; }
  
    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }
  
    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 50%; }
  
  }

  .nopadding{
    padding: 0;
}

.paddingright{
    padding: 0;
    padding-right: 1rem;
}

.paddingtopbottom{
    padding:0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#cyclegif02{
    padding:0.5rem;
}